/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
* {
  outline: 1px solid red;
}

:root {
  --dark-theme-bg-image: url("/images/cover-image-dark.png");
  --accent-color: #ff0070;
  --acccent-color-spec: #ff0070;
  --acccent-color-button: #ff0070;
  --color-spec-element: rgba(255, 0, 112, 0.5);
  --text-color: #f1b2ce;
  --font-family: "IBM Plex mono", sans-serif;
  --title-color: #ab00ff;
  --font-size: 18px;
}

@font-face {
  font-family: 'IBM Plex mono'; /* Имя шрифта */
  src: url('/fonts/IBMPlexMono-Bold.woff') format('woff'),
       url('/fonts/IBMPlexMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var( --dark-theme-bg-image, url("/images/cover-image-dark.png"));
  background-position: center; /* Центрируем изображение */
  background-size: cover; /* Растягиваем изображение, сохраняя пропорции */
  background-attachment: fixed; /* Приклеили */
  background-repeat: no-repeat;
  background-color: var(--bg-color, #000028); /* Добавляем фоновый цвет */
  font-size: var(--main-font-size, 1.125rem); /* Добавляем резиновый шрифт */
  font-family: var(--font-family, sans-serif);
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-family: var(--font-family);
  color: var(--accent-color);
  justify-self: center;
  align-self: center;
  min-height: 668px;
  max-width: 375px;
  padding: 10px;
}

.header__theme-menu {
  display: grid;
  max-width: 375px;
  align-self: flex-start;
  justify-self: right;
  margin-block-start: 60px;
}

.header__theme-menu-list{
  display: grid;
  grid-gap: 12px;
}

.header__theme-menu-button{
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 2px 13px;
  cursor: pointer;
  
}

.header__theme-menu-button_active{
  pointer-events: none;
  border: 1px solid currentColor;
}

.header__theme-menu-button:hover{
 border-color: var(--accent-color-button);
}

.header__theme-menu-button:focus{
  outline: none; /* Убираем стандартный контур фокуса */
  border-bottom: 1px solid var(--acccent-color-button); /* Добавляем рамку снизу transform: translateX(20px); /* Сдвиг текста влево */*/
}

.header__theme-menu-button:focus-visible{ 
border-bottom-color: currentColor;
}


.decorated-zone {
 block-size: 100vh;
 min-block-size: 668px;
}

@media (width >= 768px) {
  .decorated-block {
    min-block-size: 1024px;
    /* Остальные стили */
  }
}

@media (width >= 1024px) {
  .decorated-block {
    min-block-size: 768px;
    /* Остальные стили */
  }
}
 
 .content-section {
  display: grid;
  justify-content: center;
  max-width: 375px;
  margin: 10px;
 }


  .rec {
  position: absolute;
  right: 20px;
  top: 20px;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
  background-color: #ff0070;
  }

  .rec::before {
  position: absolute;
  content: "REC";
  color: #ff0070;
  right: 15px;
  }

.corner::before { /* верхний правый уголок */
  content: "";
  color: #ff0070;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px; /* Ширина уголка */
  height: 25px; /* Высота уголка */
  border-top: 1px solid #ff0070; /* Верхняя граница */
  border-right: 1px solid #ff0070; /* Правая граница */
}

.corner::after { /* нижний левый уголок */
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px; /* Ширина уголка */
  height: 25px; /* Высота уголка */
  border-bottom: 1px solid #ff0070; /* Нижняя граница */
  border-left: 1px solid #ff0070; /* Левая граница */
}

.title {
  /* Заголовок 1 уровня */
  align-self: center;
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: #db00ff;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--font-family, "IBM Plex mono"), sans-serif;
  line-height: .85;
  margin-block-end: 20px;
  max-width: 375px;
}
.title .title__union{
  display: block;
  justify-self: left;
  
}

.title-card {
  /* Заголовок 2 уровня */
  display: grid;
  font-size: 18px;
  font-weight: 700;
  color: #f1b2ce;
  background-color: #ff0070;
  margin-block-end: 10px;
}

.title-decor {
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  color: #000028;
  font-family: var(--font-family, "IBM Plex mono"), sans-serif;
  margin-block-end: 15px;
  max-width: 355px;
  height: 117px;
}

.card-section {
  font-size: 18px;
  color: #f1b2ce;
  display: grid;
  max-width: 375px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  
}

.content__text-block {
  /* блок */
  align-self: center;
  padding-bottom: 4vw; /* 15px */
  min-height: var(--font-size);

}

.content__text-title {
  /* Подзаголовок */
  color: #000028;
  background-color: #ff0070;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  margin-block-end: 10px;
}

.content__paragraph {
  /* Параграф */
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.8; /* Межстрочный */
  font-weight: 400;
  margin-block-end: 20px;
}

.content__title-block {
  /* Заголовок 3 уровня */
  background-color: #ff0070;
  color: #000028;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
   margin-block-end: 10px;
}

.section-picture {
  display: grid;
  max-width: 375px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.section-picture .picture__card:not(:last-of-type) {/* У крайнего изоображения нет отступа */
  margin-block-end: .5em;
}

.picture__card {
  gap: 10px;
  width: 100%;
  height: auto;
  
}


.footer {
  display: grid;
  grid-auto-flow: column; /* Указывает, что элементы должны располагаться в строках */
  gap: 13px; /* Расстояние между элементами */
  height: 100vh; /* Высота блока равна высоте окна браузера */
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
