/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
* {
  outline: 1px solid red;
}

:root {
  --dark-theme-bg-image: url("/images/cover-image-dark.png");
  --accent-color: #ff0070;
  --acccent-color-spec: #ff0070;
  --acccent-color-button: #ff0070;
  --color-spec-element: rgba(255, 0, 112, 0.5);
  --text-color: #f1b2ce;
  --text-decor_color: #000028;
  --font-family: "IBM Plex mono", monospace;
  --title-color: #ab00ff;
  --title_text-color: #ff0070;
  --bg-color: #000028;
  --font-size: 18px;
}

@font-face {
  font-family: 'IBM Plex mono'; /* Имя шрифта */
  src: url('/fonts/IBMPlexMono-Bold.woff') format('woff'),
       url('/fonts/IBMPlexMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var( --dark-theme-bg-image, url("/images/cover-image-dark.png"));
  font-family: var(--font-family, "IBM Plex mono"), monospace;
  background-position: center; /* Центрируем изображение */
  background-size: cover; /* Растягиваем изображение, сохраняя пропорции */
  background-attachment: fixed; /* Приклеили */
  background-repeat: no-repeat;
  background-color: var(--bg-color, #000028); /* Добавляем фоновый цвет */
  font-size: var(--main-font-size, 1.125rem); /* Добавляем резиновый шрифт */
}


.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  font-family: var(--font-family);
  color: var(--accent-color);
  min-height: 668px;
  height: 100vh;
  padding: 10px;
  position: relative;
}

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }
}

.header__theme-menu {
  display: grid;
  max-width: 375px;
  align-self: flex-start;
  justify-self: right;
  padding-block-start: 60px;
  color: var(--acccent-color-button, #ff0070);
}

.header__theme-menu-list{
  display: grid;
  grid-gap: 8px;
}

.header__theme-menu-button{
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 2px 13px;
  cursor: pointer;
  
}

.header__theme-menu-button_active{
  pointer-events: none;
  border: 1px solid currentColor;
}

.header__theme-menu-button:hover{
 border-color: var(--accent-color-button);
}

.header__theme-menu-button:focus{
  outline: none; /* Убираем стандартный контур фокуса */
  border-bottom: 1px solid var(--acccent-color-button); /* Добавляем рамку снизу transform: translateX(20px); /* Сдвиг текста влево */
}

.header__theme-menu-button:focus-visible{ 
border-bottom-color: currentColor;
}


.decorated-zone {
 block-size: 100vh;
 min-block-size: 668px;
 color: var(--text-decor_color, #000028);
}

@media (width >= 768px) {
  .decorated-zone {
    min-block-size: 1024px;
    max-width: 768px;
    padding-top: 130px;
  }
}

@media (width >= 1024px) {
  .decorated-zone {
    min-block-size: 1024px;
    max-width: 1024px;
  }
}
 

  .rec {
  position: absolute;
  right: 20px;
  top: 20px;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
  background-color: #ff0070;
  }

  .rec::before {
  position: absolute;
  content: "REC";
  color: #ff0070;
  right: 19px;
  top: -10px;
  
  }

.decorated-zone::before { /* верхний правый уголок */
  content: "";
  color: #ff0070;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px; /* Ширина уголка */
  height: 25px; /* Высота уголка */
  border-top: 1px solid #ff0070; /* Верхняя граница */
  border-right: 1px solid #ff0070; /* Правая граница */
}

.decorated-zone::after { /* нижний левый уголок */
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px; /* Ширина уголка */
  height: 25px; /* Высота уголка */
  border-bottom: 1px solid #ff0070; /* Нижняя граница */
  border-left: 1px solid #ff0070; /* Левая граница */
}

 .content-section {
  display: grid;
  justify-content: center;
  max-width: 100%;
  padding: 0 10px;
 }

.title { /* Заголовок 1 уровня */
  display: grid;
  align-self: center;
  justify-self: auto;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: #db00ff;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  line-height: .83;
  max-width: 375px;
}

@media (width >= 768px) {
  .title {
    align-self: end;
    justify-self: start;
     white-space: nowrap;
     padding-bottom: 110px;
    
  }
}

@media (width >= 1024px) {
  .title {
  font-size: (7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  max-width: 375px;
  margin-top: 55px;
  height: 117px;
}

@media (width >= 768px) {
  .title-decor {
    justify-self: end;
  }
}


.card-section_one {
  display: grid;
  max-width: 375px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

@media (width >= 768px) {
  .card-section_one {
    grid-template-columns: 280px 1fr;
    max-width: 768px;
    align-items: start;
  }
  .title-card{
  padding: 20px 20px 0 20px;
  width: 250px;  
  }
}

.card-section_one .paragraph:not(:last-of-type) {/* У крайнего изоображения нет отступа */
  padding-block-end: 20px;
}

.content-text{
  padding-block-start: 10px;
}

.content__text-title {/* Подзаголовок */
  display: grid;
  justify-content: start;
  background-color: #ff0070;
  color: var(--text-decor_color, #000028);
}


.title-card { /* Заголовок 2 уровня */
  display: grid;
  color: var(--accent-color);
}


.paragraph {  /* Параграф */
  font-size: 18px;
  line-height: 1.3; /* Межстрочный */
  font-weight: 400;
  color: #f1b2ce;
}

.paragraph-title {  /* Параграф */
  font-size: 18px;
  line-height: 1.3; /* Межстрочный */
  font-weight: bold;

}

.link__text-paragrraph{ /* ссылка в тексте */
  text-decoration: none;
  text-shadow: 1px 2px 0 var(--accent-color, #ff0070);
}

.content__title-block { /* Заголовок 3 уровня */
  background-color: #ff0070;
}

.card-section_two {
  display: grid;
  max-width: 375px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: 50px;
}

@media (width >= 768px) {
  .card-section_two {
    grid-template-columns: 1fr;
    max-width: 768px;
    padding-left: 28px;
    padding-block-start: 60px;
  }
    .card-section_two .title-card {
    justify-content: start;
    padding: 20px 0 0 0;
    width: 200px;
  }
    .card-section_two .content-text {
    white-space: nowrap; /* Текст в строку */
  }
}

.card-section_two .content__text-title {
  margin-block-start: 20px;
}

.card-section_two .paragraph {
  padding-block-start: 10px;
}

.card-section_three {
  display: grid;
  max-width: 375px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: 50px;
}

@media (width >= 768px) {
  .card-section_three {
    grid-template-columns: 1fr 470px;
    max-width: 768px;
    align-items: start;
    padding-block-start: 60px;
  }
  .card-section_three .title-card{
    width: 270px;
  }
}

.card-section_three .content__text-title {
  margin-block-start: 20px;
}

.card-section_three .paragraph {
  margin-block-start: 12px;

}

.content__text-block {/* блок */
  align-self: center;
  min-height: var(--font-size);
  margin-block-start: 20px;
}

.content-list {
  padding-block-start: 6px;
}

.section-picture {
  display: grid;
  max-width: 375px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 50px;
  
}

@media (width >= 768px) {
  .section-picture{
    justify-content: start;
    max-width: 768px;
  }
  .section-picture .picture{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Количество колонок автоматически подстраивается под размер экрана */
  grid-template-rows: auto; /* Заголовок и основное содержимое */
  padding: 30px 0 0 30px;
  gap: 20px;
  }
}


.content-picture{
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
  
}

.section-picture .picture__card:not(:last-of-type) {/* У крайнего изоображения нет отступа */
  margin-block-end: .5em;
}

.picture__card {
  gap: 10px;
  width: 100%;
  height: auto;
  
}

.footer h2 {
  display: grid;
  grid-auto-flow: column; /* Указывает, что элементы должны располагаться в строках */
  gap: 13px; /* Расстояние между элементами */
  min-height: 668px;
  height: 100vh; /* Высота блока равна высоте окна браузера */
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

@media (width >= 768px) {
  .footer h2 {
  max-width: 100%;
  
  }

  #ander {
    width: 768px;
   padding-block-start: 300px;
  }

  .end-title{
   width: 768px;
  }
}

.end-title {
 display: grid;
 position: relative;
 max-width: 375px; 
 min-height: 668px;
 margin-block-start: 45px;
}

.end-title::before { /* верхний правый уголок */
  content: "";
  color: #ff0070;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px; /* Ширина уголка */
  height: 25px; /* Высота уголка */
  border-top: 1px solid #ff0070; /* Верхняя граница */
  border-right: 1px solid #ff0070; /* Правая граница */
}

.end-title::after { /* нижний левый уголок */
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px; /* Ширина уголка */
  height: 25px; /* Высота уголка */
  border-bottom: 1px solid #ff0070; /* Нижняя граница */
  border-left: 1px solid #ff0070; /* Левая граница */
}
